.center-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
}
.custom-card {
  background: linear-gradient(180deg,rgba(40, 75, 250, 1) 0%, rgba(31, 103, 196, 1) 50%, rgba(235, 207, 28, 1) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 0px 8px rgba(0,0,0,0.5);
  align-items: center;
  padding: 4px;
  background-color: red;
  border-radius: 16px;
}
.card-content {
  font-family: monospace;
  font-size: 12px;
  width: 50%;
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0,0.5);
  padding: 2px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 700;
}

