.wine-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  & a {
    font-size: 3.5rem;
    text-decoration: none;
    color: inherit;
    font-weight: 200;
    display: inline-block;
    transition: transform 0.3s ease, font-weight 0.3s ease, text-shadow 0.3s ease;
  }
  & a:hover {
    transform: scale(1.08);
    font-weight: 500;
    text-shadow: 1px 2px 2px black;
    cursor: pointer;
  }
}
