.wine-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* адаптивно */
  gap: 16px;
  padding: 16px;
  justify-items: center;
}

.wine-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  width: 100%;
  max-width: 220px;
  cursor: pointer;

  h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 4px;
    font-size: 0.95rem;
    color: #555;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  }
}

.white-wine {
  border-radius: 4px;
  background-color: #fff9f0;
}

.red-wine {
  border-radius: 4px;
  background-color: #ffe5e5;
}

.rose-wine {
  border-radius: 4px;
  background-color: #ffe0f0;
}

.sparkling-wine {
  border-radius: 4px;
  background-color: #e0f7ff;
}

.young-wine {
  background-color: rgba(210,210,210,.5);
  border-radius: 4px;
  padding: 0 8px;
  & p {
  color: #000000;
  }
}
.old-wine {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 0 8px;
  & p {
  color: #ffffff;
  }
}
