/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

    background-size: 80px 80px, 80px 80px, 100% 100%;
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.10) 0.5px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.10) 0.5px, transparent 1px),
        linear-gradient(229deg, rgba(255, 255, 255, 1) 0%, rgba(200, 200, 200, 1) 100%);

    background-attachment: fixed;
    /* background: linear-gradient(229deg, rgba(8, 8, 8, 1) 0%, rgba(15, 15, 15, 1) 100%); */

    min-height: 100vh;
    background-repeat: repeat, repeat, no-repeat;
    color: hsl(0, 0%, 95%);
    font-family: sans-serif;
}
